:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

/* You can add global styles to this file, and also import other style files */
body {
  font-size: 1em;
}
.fastnews-main {
  max-width: 1000px;
  margin: auto;
  padding: 0 5px;
}
.tinnhanh_title {
  font-family: Verdana;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  color: #cc0001;
}
.tinnhanh_title span {
  font-size: 1.1em;
}
.nviewer {
  clear: both;
  margin-bottom: 15px;
  position: relative;
}
.item {
  border-top: solid 1px #d4e0e0;
  padding: 10px 0;
}
.list-fast-news {
  padding-left: 40px;
  padding-bottom: 30px;
}
.nviewer .timeTitle {
  color: #666;
  line-height: 22px;
}
.nviewer .title-wrap {
  position: relative;
}
.time,
.doctoanbo {
  display: none;
}
.nviewer .news-title {
  font-weight: 600;
  color: #111;
  text-decoration: none;
  text-align: left;
  display: block;
  font-size: 1.15em;
}
.nviewer .news-title:visited {
  color: #999;
}
.nv-details {
  padding: 5px 0 0;
}
.text-right {
  text-align: right;
}
.buttons {
  text-align: center;
  margin-bottom: 30px;
}
.buttons {
  font-size: 1.5em;
}
button {
  border-radius: 6px;
  background: #f7f7f7;
  border: 1px solid #e5e5e5;
  font-size: 1.1em;
  line-height: 27px;
  margin: 0;
  text-align: center;
  padding: 10px 30px;
}

@keyframes ldio-jkw3q3bi0aa {
  0% {
      opacity: 1
  }

  100% {
      opacity: 0
  }
}

.ldio-jkw3q3bi0aa div {
  left: 94px;
  top: 48px;
  position: absolute;
  animation: ldio-jkw3q3bi0aa linear 1s infinite;
  background: #fe718d;
  width: 12px;
  height: 24px;
  border-radius: 6px / 12px;
  transform-origin: 6px 52px;
}

.ldio-jkw3q3bi0aa div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -0.9166666666666666s;
  background: #fe718d;
}

.ldio-jkw3q3bi0aa div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -0.8333333333333334s;
  background: #fe718d;
}

.ldio-jkw3q3bi0aa div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.75s;
  background: #fe718d;
}

.ldio-jkw3q3bi0aa div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.6666666666666666s;
  background: #fe718d;
}

.ldio-jkw3q3bi0aa div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.5833333333333334s;
  background: #fe718d;
}

.ldio-jkw3q3bi0aa div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.5s;
  background: #fe718d;
}

.ldio-jkw3q3bi0aa div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.4166666666666667s;
  background: #fe718d;
}

.ldio-jkw3q3bi0aa div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.3333333333333333s;
  background: #fe718d;
}

.ldio-jkw3q3bi0aa div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.25s;
  background: #fe718d;
}

.ldio-jkw3q3bi0aa div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.16666666666666666s;
  background: #fe718d;
}

.ldio-jkw3q3bi0aa div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.08333333333333333s;
  background: #fe718d;
}

.ldio-jkw3q3bi0aa div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
  background: #fe718d;
}

.loadingio-spinner-spinner-l1xppaoi24 {
  width: 200px;
  height: 200px;
  overflow: hidden;
  text-align: center;
  margin: auto;
  background: #ffffff;
}

.ldio-jkw3q3bi0aa {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0;
  /* see note above */
}

.ldio-jkw3q3bi0aa div {
  box-sizing: content-box;
}